* {
  box-sizing: border-box;
}

html {
  line-height: 1.3; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
a {
  background-color: transparent;
}

@font-face {
  font-family: 'CodeLightRegular';
  src: url('font/code_light-webfont.eot');
  src: url('font/code_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/code_light-webfont.woff') format('woff'),
    url('font/code_light-webfont.ttf') format('truetype'),
    url('font/code_light-webfont.svg#CodeLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  background: url('../images/bg.png') repeat;
  background-color: #272727;
	font-size: 62.5%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 0.1rem;
  padding: 0 2rem;
  font-size: 16px;
	font-size: 1.6rem;
  line-height: 1.6;
  color: #fff;
  margin: 0;
}

@media only screen and (min-width: 30em) {
  body {
    padding: 0 2rem;
  }
}

main {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  display: flex;
  gap: 3em;
}

main section {
  text-align: center;
}

h3 {
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 0;
}

p {
  margin: 0 0 2em 0;
  font-weight: 300;
}

a {
  transition:
    border-color 250ms ease-in-out,
    padding-bottom 150ms ease-in-out;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  padding-bottom: 4px;
  color: #fff;
}

  a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 6px;
  }

  a[target="_blank"]:after {
    content: '\29C9';
    margin: 0 0 0 5px;
  }

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  gap: 2em;
}

@media only screen and (min-width: 30em) {
  ul {
    flex-direction: row;
  }
}

.note {
  font-weight: lighter;
  font-size: 1.4rem;
}

.logo {
  background-image: url('../images/ScriptedPixels-logo-sprite.svg');
  background-position: center -175px;
  background-repeat: no-repeat;
  background-size: 500px auto;
  min-width: 250px;
  height: 150px;
}

@media only screen and (min-width: 40em) {
  .logo {
    background-position: center -75px;
    background-size: 680px auto;
    min-width: 600px;
    height: 120px;
  }
}